/* hepl-[orga]/[orga].github.io
 *
 * /css/styles.css - description
 *
 * coded by leny@flatLand!
 * started at 27/08/2016
 */

/* -- reset -- */

@import url( ./normalize.css );

/* -- styles -- */

html {
    font: normal 100%/1.33 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
}

body {
    padding: .5rem 2rem;
}

h1 abbr, h1 strong, h1 span, h1 em {
    display: block;
}

a, a:link, a:visited {
    color: royalblue;
    text-decoration: none;
    transition: color .25s ease-in-out;
}

a:hover {
    color: mediumblue;
}

li em {
    font-style: normal;
    font-family: monospace;
    color: #999;
}

footer .separator::before {
    content: "•";
}

#introduction h2 {
    display: none;
}

#copy {
    margin-top: 1rem;
    padding-top: .5rem;
    border-top: .1rem solid #ddd;
    text-align: right;
}
